// Bootstrap 
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
// font glyphicons-social
@import "glyphicons-social";
// base setting
@import "util";
body {
    background-color: #fff;
    background-repeat: repeat;
    background-position: center 0;
    background-image: url(../images/bg.jpg);
    font-size: 20px;
    text-align: justify;
    @media (max-width: $screen-sm) {
        // background-position:right 0;
    }
    &.lg {
        font-size: 24px;
    }
    &.sm {
        font-size: 15px;
    }
}

header {
    z-index: 99;
    width: 100%;
    border-bottom: 3px solid #eda193;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fff;
    .search {
        font-size: 2rem;
    }
    @media (min-width: $screen-sm) {
        .logo {
            margin-top: -10px;
            z-index: 99;
            position: relative;
        }
    }
    @media (max-width: $screen-sm) {
        padding-top: 5px;
        padding-bottom: 0px;
        .navbar {
            min-height: 65px;
        }
        .logo {
            padding-left: 4px;
            img {
                max-height: 50px;
            }
        }
        position:fixed;
        width: 100%;
        .search {
            width: 80%;
            display: inline-block;
        }
    }
    &.header-fix {
        position: fixed;
        width: 100%; // .keyword-list{display:none;}
        .tool-bar {
            position: absolute;
            right: 0;
        }
        ~.pageinfo {
            padding-top: 120px;
            @media (max-width: $screen-sm) {
                padding-top: 90px;
            }
        }
    }
    .navbar-collapse {
        @media (min-width: $screen-sm) {
            padding-left: 200px;
            position: relative;
        }
    }
    .navbar-nav {
        @media (min-width: $screen-sm) {
            // display: block;
            // width: 100%;
            // justify-content: right;
            margin-top: 60px;
        }
        @media (max-width: $screen-sm) {
            margin-top: 10px;
            border-top: 1px dashed #999;
        }
        li {
            margin-bottom: 6px;
            margin-left: 5px;
            margin-right: 0px;
            font-size: 18px;
            justify-content: right;
            display: inline-block;
            @media (max-width: $screen-sm) {
                display: block;
                padding-top: 18px;
                padding-bottom: 8px;
            }
            &+li {
                @media (min-width: $screen-sm) {
                    border-left: 1px solid #ccc;
                    padding-left: 10px;
                }
                @media (max-width: $screen-sm) {
                    border-top: 1px solid #cfcfcf;
                }
            }
            a {
                padding: 0 8px;
                display: block;
                position: relative;
                color: #666;
                @media (min-width: $screen-sm) {
                    color: #fff;
                    text-align: center;
                    &:after {
                        content: "▲";
                        color: #eda193;
                        position: absolute;
                        bottom: -30px;
                        left: 45%;
                        opacity: 0;
                        transition: .3s;
                    }
                }
                &:hover {
                    &:after {
                        opacity: 1;
                        bottom: -22px;
                    }
                }
            }
            &.active {
                a {
                    @media (max-width: $screen-sm) {
                        color: #f39800 !important;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.breadcrumb {
    padding-left: 0;
    padding-bottom: 0;
    font-size: 1.6rem;
}

.keyword-list {
    list-style-type: none;
    padding: 10px 0 0px 0;
    li {
        display: inline-block;
        padding-right: 10px;
    }
    display:inline-block;
    @media (max-width: $screen-sm) {
        padding-bottom: 0;
    }
}

@-webkit-keyframes arrowMc {
    0% {
        opacity: 0.5;
    }
}

@-moz-keyframes arrowMc {
    0% {
        opacity: 0.5;
    }
}

@-ms-keyframes arrowMc {
    0% {
        opacity: 0.5;
    }
}

@-webkit-keyframes arrowLMc {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    80% {
        transform: translateX(10px);
        opacity: 1;
    }
    100% {
        transform: translateX(15px);
        opacity: 0;
    }
}

@-moz-keyframes arrowLMc {
    0% {
        -moz-transform: translateX(0px);
        opacity: 0;
    }
    80% {
        -moz-transform: translateX(10px);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(15px);
        opacity: 0;
    }
}

@-ms-keyframes arrowLMc {
    0% {
        -ms-transform: translateX(0px);
        opacity: 0;
    }
    80% {
        -ms-transform: translateX(10px);
        opacity: 1;
    }
    100% {
        -ms-transform: translateX(15px);
        opacity: 0;
    }
}

@-webkit-keyframes arrowRMc {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    80% {
        transform: translateX(-10px);
        opacity: 1;
    }
    100% {
        transform: translateX(-15px);
        opacity: 0;
    }
}

@-moz-keyframes arrowRMc {
    0% {
        -moz-transform: translateX(0px);
        opacity: 0;
    }
    80% {
        -moz-transform: translateX(-10px);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(-15px);
        opacity: 0;
    }
}

@-ms-keyframes arrowRMc {
    0% {
        -ms-transform: translateX(0px);
        opacity: 0;
    }
    80% {
        -ms-transform: translateX(-10px);
        opacity: 1;
    }
    100% {
        -ms-transform: translateX(-15px);
        opacity: 0;
    }
}

.index {
    footer {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.banner {
    .container {
        position: relative;
        height: 780px;
        h2 {
            position: absolute;
            z-index: 9;
            bottom: 40%;
            left: 0%;
            font-weight: bold;
            font-size: 55px;
            color: #fff;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
            line-height: 1.4;
        }
    }
    position: relative;
    width: 100%;
    min-width: 900px;
    background-image: url(../images/indexbg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    @media (max-width: $screen-sm) {
        min-width: auto;
        background-position: top right;
        .container {
            height: 450px;
            h2 {
                font-size: 35px;
                left: 5%;
                bottom: 10%;
            }
        }
    }
}

.pageinfo {
    background-color: #fef6f4;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 5px 0 15px 0;
    h2 {
        font-weight: bold;
        font-size: 4rem;
        @media (max-width: $screen-sm) {
            font-size: 3rem;
        }
    }
    hr {
        margin: 0;
        border-top: 1px solid #eda193;
        margin-bottom: 12px;
    }
    .pageinfo-right {
        h4.title {
            font-weight: bold;
        }
        .txt-con {
            margin-bottom: 12px;
        }
    }
    a {
        color: #ad3c27;
        font-weight: bold;
    }
    .swiper-button-prev {
        -webkit-animation: arrowRMc 1.2s infinite both;
        -moz-animation: arrowRMc 1.2s infinite both;
        -ms-animation: arrowRMc 1.2s infinite both;
        &.swiper-button-disabled {
            -webkit-animation: arrowMc 0s;
            -moz-animation: arrowMc 0s;
            -ms-animation: arrowMc 0s;
        }
    }
    .swiper-button-next {
        right: 20px;
        -webkit-animation: arrowLMc 1.2s infinite both;
        -moz-animation: arrowLMc 1.2s infinite both;
        -ms-animation: arrowLMc 1.2s infinite both;
        &.swiper-button-disabled {
            -webkit-animation: arrowMc 0s;
            -moz-animation: arrowMc 0s;
            -ms-animation: arrowMc 0s;
        }
    }
}

.tab {
    margin-top: 10px;
    margin-bottom: 10px;
    .label {
        padding: 5px 8px;
        font-size: 1.8rem;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        min-width: 75px;
    }
    i:before {
        padding: 3px 3px;
    }
}

.btn {
    i:before {
        padding: 3px 3px;
    }
}

.tool-bar {
    margin-bottom: 22px;
    position: relative;
    margin-top: 5px;
    padding: 0 20px;
    .text-mode {
        vertical-align: middle;
        border-radius: 50%;
        display: inline-block;
        width: 35px;
        height: 35px;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 35px;
        font-size: 1.6rem;
        font-weight: bold;
        &.active {
            background-color: #eda193;
            color: #fff;
        }
    }
    .keyword-list {
        display: inline-block;
    }
}

.tool-share {
    margin-top: 30px;
    a.btn-fb {
        display: inline-block;
        position: relative;
        top: -15px;
    }
    .line-it-button {}
}

.pageinfo-right {
    .tool-bar {
        font-size: 18px;
        padding: 0 5px;
        margin-top: 0;
    }
}

.navbar {
    .tool-bar {
        float: right;
        .text-mode {
            margin-left: 5px;
        }
    }
}

.tool-bar-fix {
    // position:fixed;top: 0;background-color: #fff;padding: 8px 0;width: 100%;left: 0;border-bottom: 3px solid #eda193;	z-index: 99;
    // display:block;
    // .logo{display:block;}
    // .navbar-form{display:block;}
    // @media (max-width: $screen-sm) {
    // 	display:none;
    // }
}

main {
    border-top: 30px solid #f9ded9;
    padding-top: 50px;
    @media (max-width: $screen-sm) {
        padding-top: 20px;
        border-top: 20px solid #f9ded9;
    }
    .container {
        position: relative;
    }
    .info-box {
        padding: 10px 30px;
        margin-bottom: 30px;
        background-color: #f2f1f1;
        min-height: 250px;
        h3 {
            font-weight: bold;
            font-size: 2.5rem;
        }
        .tab {
            margin-bottom: 18px;
        }
        @media (max-width: $screen-sm) {
            padding: 10px;
            min-height: auto;
            h3 {
                text-align: center;
            }
            .btn-list {
                text-align: center;
            }
        }
    }
    .main-list {
        .item {
            border: 1px solid #ccc;
            margin-bottom: 30px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0);
            transition: all .3s;
            @media (max-width: $screen-sm) {
                margin-bottom: 10px;
            }
            &:hover {
                box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            }
            .info {
                padding: 8px;
                @media (max-width: $screen-sm) {
                    padding-left: 0px;
                    padding-bottom: 4px;
                }
                h3 {
                    font-size: 1.1em;
                    line-height: 1.3em;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    @media (max-width: $screen-sm) {
                        font-size: .9em;
                        padding-bottom: 4px;
                    }
                    a {
                        color: #944255;
                        &:hover {
                            color: #e2063a;
                        }
                    }
                }
                p {
                    font-size: .8em;
                    margin-bottom: 5px;
                    line-height: 1.8;
                    height: 84px;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    @media (max-width: $screen-sm) {
                        display: none;
                    }
                }
                .info-txt {
                    font-size: 0.7em;
                    border-top: 1px solid #ddd;
                    padding-top: 5px;
                    i:before {
                        padding-top: 2px;
                        padding-right: 4px;
                    }
                }
            }
        }
    }
    @mixin main-con-color($color:#666) {
        padding-left: 67px;
        border-left: 15px solid $color;
        @media (max-width: $screen-sm) {
            padding: 15px;
        }
    }
    .main-con {
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 25px 82px; // p{font-size: 2rem;}
        &+.main-con {
            margin-top: 30px;
        }
        &.main-con-green {
            @include main-con-color(#64A36F);
        }
        &.main-con-red {
            @include main-con-color(#FF4D4D);
        }
        h3.title {
            font-weight: bold;
        }
        p {
            line-height: 2;
            color: #666;
        }
        @media (max-width: $screen-sm) {
            padding: 15px;
        }
    }
    .box-more {
        h5 {
            text-align: center;
            font-size: 1.5rem;
        }
        @media (max-width: $screen-sm) {
            h2 {
                text-align: center;
            }
        }
    }
}

footer {
    font-size: 1.5rem;
    color: #574a39;
    padding: 10px 0;
    background-color: #ddd;
    margin-top: 30px;
    .footer-logo {
        @media (min-width: $screen-sm) {
            padding-top: 20px;
            padding-bottom: 10px;
        }
    }
    .footer-nav {
        padding-left: 0;
        padding-top: 10px;
        margin-bottom: 5px;
        li {
            font-size: 1em;
            display: inline-block;
            &+li {
                // padding-right: 5px;
                &:before {
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 12px;
                    content: '|';
                    position: relative;
                    top: -1px;
                    display: inline-block;
                }
            }
        }
    }
    .row {
        vertical-align: bottom;
    }
    p {
        position: relative;
        bottom: 0;
    }
    .footer-list-btn {
        text-align: right;
        @media (max-width: $screen-sm) {
            text-align: center;
        }
    }
    .footer-btn {
        display: inline-block;
        padding: 10px 5px;
    }
}

.sys-body {
    position: relative;
    @media screen and (min-width: 1110px) {
        background-color: #f7efda;
        img {
            background-image: url(../images/b11-img-1.jpg);
            background-position: center 0;
        }
    }
    @media screen and (max-width:1110px) {
        img {
            background-image: url(../images/b11-img-1-m.jpg);
            background-position: center 0;
            background-size: cover;
        }
    }
}

.sysgrid {
    width: 290px;
    border-radius: 10px;
    padding: 15px 10px;
    h4 {
        text-align: center;
        color: #fff;
        font-size: 36px;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        margin-bottom: 5px;
    }
    h5 {
        font-weight: normal;
        color: #fff;
        font-size: 16px;
        margin-top: 5px;
        line-height: 1.4;
    }
    @media screen and (min-width:1110px) {
        position: absolute;
        background-color: #cc3423;
    }
    @media screen and (max-width:1110px) {
        width: 32%;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 15px;
        vertical-align: top;
        h4 {
            font-size: 26px;
        }
    }
    @media screen and (max-width:767px) {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
        h4 {
            font-size: 26px;
        }
    }
    .btn {
        display: block;
        border-radius: 10px;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 5px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, .2) inset;
        border: 2px solid rgba(255, 255, 255, .5);
        transition: .25s;
        &:after {
            content: '';
            background-color: rgba(255, 255, 255, .1);
            width: 120%;
            height: 40px;
            top: -50%;
            left: -10%;
            display: block;
            position: absolute;
        }
        &:hover {
            box-shadow: 0 0 8px 3px rgba(255, 255, 255, .5) inset;
        }
    }
    &.sysgrid-s1 {
        top: 50px;
        left: 20px;
        background-color: #cc3423;
        .btn {
            background-color: #8f1f12;
        }
    }
    &.sysgrid-s2 {
        top: 450px;
        left: 20px;
        background-color: #d49000;
        .btn {
            background-color: #875c00;
        }
    }
    &.sysgrid-s3 {
        top: 50px;
        right: 20px;
        background-color: #009bde;
        .btn {
            background-color: #0170a0;
        }
    }
    &.sysgrid-s4 {
        top: 300px;
        right: 20px;
        background-color: #974b2c;
        .btn {
            background-color: #5a210a;
        }
    }
    &.sysgrid-s5 {
        top: 550px;
        right: 20px;
        background-color: #61a60e;
        .btn {
            background-color: #3e6f03;
        }
    }
}

#banner-swiper {
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    .swiper-pagination {
        color: #fff;
        text-align: left;
        text-shadow: rgb(0, 0, 0) 0px 0px 10px;
        bottom: 5px;
        left: 10px;
    }
    .swiper-button-next {
        background-image: none;
        color: #fff;
        font-size: 25px;
        text-shadow: rgb(0, 0, 0) 0px 0px 10px
    }
    .swiper-button-prev {
        background-image: none;
        color: #fff;
        font-size: 25px;
        text-shadow: rgb(0, 0, 0) 0px 0px 10px
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

#info-box-swiper {
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    .swiper-pagination {
        color: #fff;
        text-align: left;
        text-shadow: rgb(0, 0, 0) 0px 0px 10px;
        bottom: 5px;
        left: 10px;
    }
    .swiper-button-next {
        background-image: none;
        color: #fff;
        font-size: 25px;
        text-shadow: rgb(0, 0, 0) 0px 0px 10px
    }
    .swiper-button-prev {
        background-image: none;
        color: #fff;
        font-size: 25px;
        text-shadow: rgb(0, 0, 0) 0px 0px 10px
    }
    .swiper-slide {
        text-align: left;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

.modal {
    text-align: center;
    padding: 0 !important;
    .modal-header {
        padding: 5px 15px;
    }
    .modal-content {
        border-radius: 0%;
    }
    .close {
        font-size: 30px;
        color: #fff;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: $screen-sm) {
    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
}